.fondo {
	background-image: url(imagenes/main_background.gif);
	height: 970px;
	width: 1300px;
}
.fondo2 {
	background-image: url(imagenes/main_background.gif);
	height: auto;
	width: 690px;
}
.col {
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 300px;
}
h3 {
	margin: 0;
	background-color: rgb(154,205,50);
	background-image: linear-gradient(bottom,  rgb(154,205,50) 14%, rgb(107,142,35) 57%);
	background-image: -o-linear-gradient(bottom,  rgb(154,205,50) 14%, rgb(107,142,35) 57%);
	background-image: -moz-linear-gradient(bottom, r rgb(154,205,50) 14%, rgb(107,142,35) 57%);
	background-image: -webkit-linear-gradient(left,  rgb(154,205,50) 14%, rgb(107,142,35) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(8,164,55) 14%, rgb(8,129,44) 57%);
	color: #000;
}

h3 a {
  background: url("sprite.png") 10px 8px no-repeat;  
  display: block;
  padding: 5px;
  padding-left: 32px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid rgba(128, 10, 85, 0.5);
  text-shadow: 1px 1px 1px rgb(128,10,85);
}
h3:hover {
}
h3.open  { background: rgb(154,205,50); }
h3.open a { background-position: 8px -25px; }
h3 + div {

}

h2 {
  margin: 10px 0;
  color: #000;
  font-size: 18px;
  text-shadow: 1px 1px 2px #fff;
}
h2 + div,
.example {
  background: #F2F5EB;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
  background:#F2F5EB;
}

.tituloucentral {
	height: auto;
	width: 250px;
	margin-right: 60px;
	margin-bottom: 60px;
	margin-left: 200px;
	
	position: absolute;
	left: 31px;
	top: 148px;
}
.menuPrincipal {
	height: auto;
	width: 250px;
	margin-right: 60px;
	margin-bottom: 60px;
	margin-left: 200px;
	border: 10px solid #FFF;
	border-radius: 18px;
	position: absolute;
	left: 31px;
	top: 148px;
}
.menuPrincipal2 {
	height: auto;
	width: 310px;
	margin-right: 60px;
	margin-bottom: 60px;
	margin-left: 160px;
	border: 10px solid #FFF;
	border-radius: 18px;
	position: absolute;
	margin-top: 10px;
	top: 137px;
	left: 17px;
}
.menu {
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
	width: auto;
}
.imagen {
	margin-top: 20px;
	height: 85px;
	width: 280px;
	background-image: url(imagenes/logo2.png);
	margin-left: -35px;
}
.titulotable {
	font-family: Arial, Helvetica, sans-serif;
	border-color: #677022;
	background-image: url(imagenes/main_background.gif);
}
.tituloTable {
	border: 2px double #060;
	background-color: #F2F5EB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	clip: rect(auto,20px,auto,20px);
	background-image: url(imagenes/main_background.gif);
}
.tipo1 {
	font-family: Arial, Helvetica, sans-serif;
}
.from {
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 500px;
	height: auto;
	border: 10px solid #FFF;
	border-radius: 30px;
	position: absolute;
	width: 600px;
	background-color: #FFF;
	top: 146px;
	left: 15px;
}
.from2 {
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 550px;
	height: 750px;
	border: 10px solid #FFF;
	border-radius: 30px;
	position: absolute;
	width: 750px;
	background-color: #FFF;
	top: -9px;
	left: -196px;
	margin-top: 10px;
}
.TituloPrincipal {
	background-color: #B11F16;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	height: auto;
	font-style: normal;
	width: 690px;
	margin-left: 0px;
}
.TituloPrincipal2 {
	background-color: #B11F16;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	height: auto;
	font-style: normal;
	width: 619px;
	margin-left: -10px;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	text-align: center;
	font-size: 7pt;
	margin-top: auto;
}
.imagentitulo {
	margin-right: 80px;
	background-image: url(imagenes/backCabeceraa.jpg);
	height: 100px;
	width: 920px;
	margin-left: 220px;
	margin-top: 10px;
	border: 10px solid #FFF;
	border-radius: 18px;
}
.imagentitulo2 {
	margin-right: 0px;
	height: 100px;
	width: 1140px;
	margin-left: 160px;
	margin-top: 10px;
	borde: 10px solid #FFF;
	border-radius: 18px;
	background-image: url(imagenes/backCabeceraa2.jpg);
	border: 10px solid #FFF;
}
.letra {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5B6906;
}
#contenido iframe{
	width: 750px;
	height: 750px;
	border: 0px;
	text-align: center;
}
.tabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 650px;
	color: #063;
}
.tabla1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 690px;
	color: #063;
}
.boton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.texfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	width: 105;
}
.titu {
	width: 690px;
	height: auto;
	background-color: #FFF;
}
.titu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #F00;
	width: 650px;
}
.titu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFF;
}
.table2{
	border: 5px solid #436600;
	width: 650px;
	height: auto;
	caption-side: top;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.tdsiguiente {
	text-align: right;
	width: 25px;
	margin-left: 625px;
	margin-top: 5px;
}
.tdatras{
	color: #436600;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	width: 25px;
	margin-top: -24px;
}
.fromtables {
	width: 650px;
}
.fuente {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
}
.fuente2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.fuentetabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F00;
}

.fuentetabla2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F00;
}
.center1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	
}
.encuesta {
	width: 650px;
}
.encuestatable {
	text-align: left;
	width: 650px;
}
.imagentitulo {
	width: 890px;
}
.jo{
	width: auto;
	margin-top: -20px;
}
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
#css3-animated-example .content {
  padding: 5px;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #F2F5EB;
}

.errors {
	background-color:#FFCCCC;
	border:1px solid #CC0000;
	width:400px;
	margin-bottom:8px;
}
.errors li{ 
	list-style: none; 
}
.enlaces {
	width: 650px;
}
.mensaje {
	margin-left: 220px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #063;
}
